[submodule "vendor/js_widget_runtime"]
	path = vendor/js_widget_runtime
	url = https://github.com/IstiN/flutter_js_widget_runtime.git
[submodule "vendor/external/e2e-scratch"]
	path = vendor/external/e2e-scratch
	url = https://github.com/vabhzw17eg2qu4m9-bit/fa-widget-e2e-scratch.git
